body {
  background: #000;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1 {
  display: flex;
  align-items: center;
  font-size: 15px;
}
h1:before {
  content: "";
  background: url(/images/profile.png) no-repeat;
  background-size: 100%;
  margin-right: 5px;
  width: 18px;
  height: 18px;
}
