@import './_variables';
body {
  color: $white;
  background-color: $black;
  background-repeat: no-repeat;
  background-image: url('../images/profile_large.png');
  background-size: 200px 200px;
  user-select: none;
}

h1 {
  display: flex;
  align-items: center;
  font-size: 15px;

  &:before {
    content: '';
    background: url('../images/profile.png') no-repeat;
    background-size: 100%;
    margin-right: 5px;
    width: 18px;
    height: 18px;
  }
}